// Main App Variables
$primaryColor: #BB1233;
$specialBtns: #2061B0;
$operatorBtns: #237293;
$numberBtns: #184379;

.body {
  box-sizing: border-box;
}

.container {
  background-color: $primaryColor;
  width: 395px;
  padding: 2rem;
  border-radius: 12px;
  border: none;
// Logo Styles


// Main App styles
  .app {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

// Display styles

// General btn styles
.btn {
  background: $numberBtns;
  border-radius: 50%;
  margin: .4rem;
  padding: .5rem;
  width: 80px;
  height: 80px;
  border: none;
  color: white;
  font-size: 1.5rem;
  box-shadow: 0px 2px 0px 1px rgba(0,0,0,0.75);
}

// specialBtn styles
.special__btn__container{
  display: flex;
  flex-direction: row;
  width: 73%;

  .specialBtn {
    background: $specialBtns;
  }
}

// OperatorBtn styles
.operator__btns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .operatorBtn {
    background: $operatorBtns;
  }
}

// NumberBtn styles
  .number__btn__container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
  }
}